/* ===== RESPONSIVE SIZES ===== */
/* Mobile S : 320px */
/* Mobile M : 375px */
/* Mobile L : 425px */
/* Tablet 	: 768px */
/* Laptop 	: 1024px */



/* ================= */
/* ===== Fonts ===== */
/* ================= */

/* New Fonts */
@font-face {
	font-family: "Dry Brush";
	src: url("Font/Dry Brush.ttf");
}

@font-face {
	font-family: "Giraffey";
	src: url("Font/Giraffey.otf");
}

@font-face {
	font-family: "Roboto";
	src: url("Font/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("Font/Roboto/Roboto-Light.ttf");
	font-weight: lighter;
}

@font-face {
	font-family: "Roboto";
	src: url("Font/Roboto/Roboto-Bold.ttf");
	font-weight: bold;
}

/* Old fonts
@font-face {
	font-family: "Merienda";
	src: url("Font/Merienda-Regular.ttf");
}

@font-face {
	font-family: "Merienda";
	src: url("Font/Merienda-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Signika";
	src: url("Font/OldFonts/Signika-Regular.ttf");
}

@font-face {
	font-family: "Signika";
	src: url("Font/OldFonts/Signika-Light.ttf");
	font-weight: lighter;
}

@font-face {
	font-family: "Signika";
	src: url("Font/OldFonts/Signika-Bold.ttf");
	font-weight: bold;
}*/



/* ======================== */
/* ===== Loading Page ===== */
/* ======================== */

.loader{
  width:100%;
  height:100%;
  text-align:center;
  margin:0;
  vertical-align:middle;
  display:block;
  margin-top:50vh;}

.loader div{
  width:10px;
  height:10px;
  border-radius:100%;
  background:#333;
  display:inline-block;
  vertical-align:center;
-webkit-animation:metro 4s infinite cubic-bezier(0.32, 1.05, 0.32, 1.05);
  -webkit-transition:all .2s ease-in-out;
}

.loader div:nth-child(2){
  -webkit-animation-delay:.3s;
}
.loader div:nth-child(3){
  -webkit-animation-delay:.6s;
}

@-webkit-keyframes metro{
  0%,90%, 100%{
    -webkit-transform:translate(0,0);
  }
  5%{
    -webkit-transform:translate(0,4px);
  }
  33%{
    -webkit-transform:translate(0,-1000px);
  }
  34%{
    -webkit-transform:translate(0,1000px);
  }
  67%{
    -webkit-transform:translate(0,0);
  }
}



/* ===================== */
/* ===== Main Page ===== */
/* ===================== */

.parallax-window {width: 100%;}

.main {display: none;}

body {
	font-family: 'Roboto';
	margin: 0;
}

.section-content {
	width: 65%;
	margin: auto;
	padding-bottom: 50px;
}

img {max-width: 100%;}

.title {
	font-family: 'Giraffey';
	text-align: center;
	font-size: 2.6rem;
	letter-spacing: 6px;
	margin: 0;
	padding-top: 75px;
	padding-bottom: 50px;
	color: #33434A;
}

a, a:visited {text-decoration: none;}



@media only screen and (max-width: 425px) {
	.title {
		font-family: 'Giraffey', sans-serif;
		font-size: 2.2rem;
		padding: 50px 0 35px 0;
		color: #263238;
		text-align: center;
	}

	.section-content {
		width: 80%;
		margin: auto;
		padding-bottom: 50px;
	}
}



/* ===================== */
/* ===== Hamburger ===== */
/* ===================== */

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: background 0.3s;
}

.c-hamburger:focus {outline: none;}

.c-hamburger span {
  display: block;
  position: absolute;
  left: 18px;
  right: 18px;
  height: 5px;
  background: white;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {top: -10px;}

.c-hamburger span::after {bottom: -10px;}



/* =================== */
/* ===== Buttons ===== */
/* =================== */

.center-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-container {
	cursor: pointer;
	margin: auto;
	position: relative;
	height: 46px;
	border: 2px solid #5D6E7B;
	z-index: 500;
}

.btn-content {
	margin: 0 30px;
	margin-top: 8px;
	height: 30px;
}

.btn {
	line-height: 30px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #53636E;
	transition: color 0.15s ease-out;
}

.underline {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0px;
	background-color: #5D6E7B;
	z-index: -1;
	transition: height 0.15s ease-out;
}


@media only screen and (max-width: 425px) {
	.btn-container {
		cursor: pointer;
		margin: auto;
		position: relative;
		height: 42px;
		border: 2px solid #53636E;
		z-index: 500;
	}

	.btn-content {
		margin: 0 30px;
		margin-top: 8px;
		height: 28px;
	}

	.btn {
		line-height: 28px;
		text-decoration: none;
		font-size: 18px;
		font-weight: 600;
		color: #53636E;
		transition: color 0.15s ease-out;
	}
}



/* ============================ */
/* ===== Page 1 #Parallax ===== */
/* ============================ */

#responsive-icon {display: none;}

.header-content {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	color: white;
	align-items: center;
	z-index: 999;
	transition: background-color 0.3s;
}

.header-content-new-background {background-color: #53636E;}

.parallax-window {
    min-height: 100vh;
    background: transparent;
}

.header-title-content {width: 40%;}

.header-title {
	font-family: 'Roboto';
	font-size: 2rem;
	margin: 7px 20px;
}

.header-title-link {
	color: white;
}

.base-menu-content {width: 60%;}

.base-menu {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.base-menu-element {
	list-style: none;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 40px;
}

.base-menu-link:link, .base-menu-link:visited {
	font-family: 'Roboto';
	font-size: 1.2rem;
	display: inline-block;
	position: relative;
	font-weight: lighter;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease;
}

.base-menu-link:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.base-menu-link:hover:after {
	width: 100%;
	background: white;
}

.hidden-responsive-menu {
	display: none;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	top: 70px;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 20% 0;
	color: white;
	text-align: center;
	z-index: 999;
}

.responsive-menu-element {
	list-style: none;
	margin: 25px;
}

.responsive-menu-link {
	font-family: 'Roboto';
	font-size: 2rem;
	color: white;
}

.parallax-title-container {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.parallax-title-content {
	width: 100%;
}

.parallax-title {
	width: 100%;
	font-family: 'Dry Brush';
	font-size: 6rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	color: rgba(255,255,255,0.8);
}

.btn-container-for-parralax {
	margin-top: 50px;
	border: 2px solid rgba(255,255,255,0.9);
}

.parallax-btn {
	color: white;
}

.parralax-underline {
	background-color: rgba(255,255,255,0.9);
}

.parallax-btn-hover-effect {
	color: #606A7F;
}


@media only screen and (max-width: 768px) {

	.header-content {
		display: block;
		position: static;
	}

	.header-content-new-opacity {background-color: rgba(0,0,0,0.9);}

	.header-title-content {display: none;}

	#responsive-icon {
		display: block;
		width: 70px;
		height: 70px;
	}

	.base-menu-content {display: none;}

	.hidden-responsive-menu {
		display: block;
		transform: translateX(-100%);
		transition-duration: 0.3s;
	}

	.responsive-menu {
		transform: translateX(0px);
	}

	.parallax-title {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 425px) {

	.parallax-title {
		font-size: 2.9rem;
		line-height: 55px;
	}
}



/* ================================ */
/* ===== Page 2 #Presentation ===== */
/* ================================ */

.main-information-content {
	position: relative;
}

.presentation-img-content {
	opacity: 0;
	width: 45%;
	margin-top: 25px;
}

.presentation-img {
	max-width: 100%;
	border-radius: 10px;
}

.information-and-links-container {
	opacity: 0;
	width: 60%;
	position: absolute;
	top: -25px;
	left: 40%;
}

.information-container {
	background-color: #FAFAFA;
	border: solid 1px #EEEEEE;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	border-radius: 10px;
}

.information-content {
	margin: auto;
	position: relative;
}

.information-txt {
	margin: 0;
	padding: 35px;
	padding-bottom: 45px;
	font-size: 18px;
	text-align: justify;
	color: black;
}

.information-triangle {
	position: absolute;
	left: -29px;
	top: 0;
	bottom: 0;
	right: 100%;
	width: 0;
	height: 0;
	margin: auto;
	border-style: solid;
	border-width: 30px 30px 30px 0;
	border-color: transparent #FAFAFA transparent transparent;
	z-index: 500;
}

.information-center-btn-container {
	position: absolute;
	bottom: -23px;
}

.information-btn-container {
	background-color: white;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.networks-container {
	margin-top: 20%;
}

.network {
	display: flex;
	align-items: center;
	width: 120px;
	margin: 15px auto;
}

.network-link {
	font-size: 20px;
	color: black;
	margin-left: 15px;
	text-decoration: none;
}

.network-link:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.network-link:hover:after {
	width: 100%;
	background: black;
}

.network-img {
	width: 30px;
	height: 30px;
}

/* Old btns */
.button-content {text-align: center;}

.button {
	border-radius: 5px;
	padding: 10px;
	background-color: #EEEEEE;
}

.button-link {
	color: #263238;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
}


@media only screen and (max-width: 1024px) {

	.information-txt {
		font-size: 16px;
	}

	.networks-container {
		margin-top: 10%;
	}
}


@media only screen and (max-width: 768px) {

	.main-information-content {position: initial;}

	.presentation-img-content {
		width: 70%;
		margin: 0 auto;
	}

	.information-and-links-container {
		width: 100%;
		position: initial;
	}

	.information-txt {
		padding: 16px;
		padding-bottom: 40px;
	}

	.information-triangle {
		position: absolute;
		left: 0;
		top: -29px;
		right: 0;
		width: 0;
		height: 0;
		margin: 0 auto;
		border-style: solid;
		border-width: 0 30px 30px 30px;
		border-color: transparent transparent #FAFAFA transparent;
	}

	.networks-container {display: flex;}
}


@media only screen and (max-width: 425px) {

	.presentation-img-content {
		width: 90%;
	}

	.information-center-btn-container {
		bottom: -21px;
	}

	.network {width: 100px;}

	.network-link {font-size: 16px;}

}



/* ========================== */
/* ===== Page 3 #Skills ===== */
/* ========================== */

#competences {background-color: #FCFCFC;}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-subtitle {
	position:absolute;
	background: transparent;
	top:0;
	left:110px;
	width:calc(100% - 110px);
	font-size:13px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-subtitle span {
	display:block;
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}



/* ============================ */
/* ===== Page 4 #Projects ===== */
/* ============================ */

.projects-content {
	display: flex;
	flex-wrap: wrap;
}

.project-img-content {
	width: 20%;
	height: 20%;
	margin: calc(20% /8);
	opacity: 0;
	transition: opacity 0.6s;
	cursor: pointer;
	overflow: hidden;
}

.project-img {
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.project-img-content:hover .project-img {
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.project {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.project-title {
	width: 100%;
	margin: 25px;
	color: #263238;
}

.project-subtitle {
	color: #263238;
	font-weight: bold;
}

.project-description {
	width: 45%;
	margin-right: 5%;
    text-align: justify;
}

.project-information {
	width: 45%;
	margin-left: 5%;
    text-align: justify;
}

.project-screenshot-left-content {
	width: 45%;
	margin: 25px 5% 0 0;
}

.project-screenshot-right-content {
    width: 45%;
    margin: 25px 0 0 5%;
}

.project-screenshot {border: solid 1px #E0E0E0;}


@media only screen and (max-width: 768px) {

	.project-title {
		width: 100%;
		margin: 0;
		text-align: center;
		margin: 15px 0;
		font-size: 1.2rem;
	}

	.project-img-content {
		width: 40%;
		height: 40%;
		margin: calc(20% /4);
	}

	.project {display: block;}

	.project-description {
		width: 100%;
		margin: 0;
	}

	.project-information {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

    .project-screenshot-left-content {
        width: 100%;
        margin: 25px 0;
    }

    .project-screenshot-right-content {
        width: 100%;
        margin: 25px 0;
    }
}



/* =========================== */
/* ===== Page 5 #Contact ===== */
/* =========================== */

#contact {background-color: #FCFCFC;}

.contact-container {
	opacity: 0;
	width: 75%;
	margin: auto;
}

#form {
	width: 100%;
}

.form-input {
	margin: 10px 0;
}

.input {
	font-family: 'Roboto';
	font-size: 16px;
	width: calc(100% - 44px);
	padding: 10px 20px;
}

textarea {
	font-family: 'Roboto';
	font-size: 16px;
	width: calc(100% - 44px);
	resize: none;
	padding: 10px 20px;
}

.contact-center-btn-container {
	margin-top: 40px;
	justify-content: flex-end;
}

.contact-btn-container {
	margin: 0;
}

.submit {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.submit:focus {outline:0;}

.error {
	color: red;
	margin: 10px 30px;
}

.valid {
	color: green;
	margin: 10px 30px;
}


@media only screen and (max-width: 768px) {

	.contact-container {
		width: 100%;
	}
}



footer {
	color: white;
	background-color: #455a64;
	text-align: center;
	padding: 15px 0;
}



/* ================= */
/* ===== OTHER ===== */
/* ================= */

/* ===== Btn hover effects ===== */

.btn-hover-effect {
	color: white;
}

.underline-hover-effect {
	height: 100%;
}
